
/*COLOR PALETTE*/
:root{

    --blue-color:#1e88e5;
    --white-color: white;
    --orange-color: #f9ab3d;
    --text-color: #585858;
}

.orange_color{
    color:var(--orange-color) !important;
}
.blue_color{
    color:var(--blue-color) !important;
}
.white_color{
    color:var(--white-color) !important;
}
.text_color{
    color:var(--text-color) !important;
}


/* RUN main button */
#go_prod_go_btn {
    border-radius:0 !important;
    border: none !important; /* Remove borders */
    color: var(--white-color) !important; /* Add a text color */
    padding: 14px 28px !important; /* Add some padding */
    cursor: pointer !important; /* Add a pointer cursor on mouse-over */
    background-color: var(--blue-color) !important;
    -webkit-transition-duration: 0.4s !important; /* Safari */
    transition-duration: 0.4s !important;

}

.gp-text-color{
    color: var(--text-color) !important;
}

#go_prod_go_btn:hover {
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);


}

.review_btn{
    border-radius:  5% !important;
    color: var(--white-color) !important;
    background-color: var(--blue-color) !important;
    font-size: 16px !important;
    padding: 12px 15px !important;
    -webkit-transition-duration: 0.4s !important; /* Safari */
    transition-duration: 0.4s !important;

}
.review_btn:hover {
    outline: none;
    box-shadow: 0 12px 16px 0 rgba(158, 158, 158, 0.24), 0 17px 50px 0 rgba(235, 235, 235, 0.03);
    background-color: var(--white-color) !important;
    color: var(--blue-color) !important;

}


.nav-tabs.nav-justified>li>a:hover {
    border: 1px solid var(--blue-color) !important;
    background-color: var(--white-color) !important;
    color: var(--blue-color) !important;

    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.nav-tabs.nav-justified>li>a {
    border-radius: 0 0 0 0 !important;
    border-right: 0 solid !important;
    border-left: 0 solid !important;
    color: var(--white-color) !important;
    background: var(--blue-color) !important;
    -webkit-transition-duration: 0.2s !important; /* Safari */
    transition-duration: 0.2s !important;

}
.nav-tabs.nav-justified>li.active>a {
    box-shadow:  none  !important;
    border: 0 solid !important;
    border-top-width: 1px !important;
    color: var(--blue-color) !important;
    background: var(--white-color) !important;

}


.panel  {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    overflow: hidden !important;
}


.panel-heading {
    padding: 11px 30px;
    border-bottom: 0 solid transparent;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    color: var(--blue-color)  !important;
    border-bottom: 5px solid var(--white-color) !important;

}

.panel-body {
    padding: 0 !important;
    background: var(--white-color) !important;
}

.col_lable{
    color: var(--blue-color) !important;

}

.overflow{
    max-height: 200px !important;
    overflow: auto !important;

}

.overflow{
    scrollbar-face-color: var(--blue-color);
    scrollbar-shadow-color: var(--white-color);
    scrollbar-highlight-color: var(--white-color);
    scrollbar-3dlight-color: var(--white-color);
    scrollbar-darkshadow-color: var(--white-color);
    scrollbar-track-color: var(--white-color);
    scrollbar-arrow-color: var(--white-color);
}

/* Let's get this party started */
.overflow::-webkit-scrollbar {
    width: 11px;
}

/* Track */
.overflow::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.overflow::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(216, 216, 216, 0.24);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#go_prod_accept_all:hover {
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);


}
/*for the data table*/
#gp-results-table{
    padding:   25% !important;

}

table.go_prod_table {

    width: 900px !important;
    min-width: 900px !important;
    max-width:900px !important;
    table-layout:fixed !important;

}

.hidden {
    display: none !important;
    visibility: hidden !important;
}



table.go_prod_table tr:hover {
    background-color: var(--orange-color) !important;
    color: var(--white-color) !important;

    font-weight: bolder !important;

}
table.go_prod_table tr {

    vertical-align: middle !important;

}
.gp-actions{
    padding:0 !important;
    margin: 0 !important;
}

#gp-extra-time{
    color: var(--orange-color) !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle !important;
}

.table#issues-table th{


    color: var(--text-color) !important;
    border-bottom: 1px solid var(--blue-color) !important;

}

.tab {
    display:inline-block;
    margin-left: 40px;
}

/*modal to load datatable results*/
.modal {

    padding:  5% 25%  5%  25% !important;
    position: fixed !important;
    width: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


/* loading effect*/

.loader {
    border: 1px solid;
    background-color: var(--white-color);
    border-radius: 50%;
    width: 15px !important;
    height: 15px !important;
    animation: spin 0.5s linear infinite;
    margin: auto;
    padding: 1.0% !important;

}

#gp-loader {

    left: 50% !important;
    padding-bottom: 70px;
    padding-top: 50px !important;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#gp-tr {
    border-radius: 5px !important;
    border: 5px solid var(--white-color) !important;
}

.icon-flag.logo-icon-success {
    width: 28px;  /* 14px * 2*/
height: 28px; /* 14px * 2*/
background-size: 938px 318px;  /*original dimensions * 2*/
background-position: -624px -48px;  /* original position * 2*/
}

/*new progress bar*/

.progress {
    height: 3px;
    margin-bottom: 2px;

}
.progress .skill {
    font: normal 12px "Open Sans Web" ;
    line-height: 35px;
    padding: 0;
    margin: 0 0 0 20px;
    text-transform: uppercase;
    text-decoration-color: #0c0c0c;
}
 .skill .val {
    float: right;
    font-style: normal;
    margin: 0 20px 0 0;
}

.progress-bar {
    text-align: left;
    transition-duration: 0.1s;
}

.center {
    text-align: center !important;

    /*border: 2px solid #337ab7;*/


}
.vertical-center {

    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);

}