/* The switch - the box around the slider */
.switch {
    position: relative !important;
    display: inline-block !important;
    width: 40px !important;
    height: 24px !important;
}

/* Hide default HTML checkbox */
.switch input {display:none !important;}

/* The slider */
.slider {
    position: absolute !important;
    cursor: pointer !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    background-color: #ccc !important;
    -webkit-transition: .4s !important;
    transition: .4s !important;
}

.slider:before {
    position: absolute !important;
    content: "" !important;
    height: 16px !important;
    width: 16px !important;
    left: 4px !important;
    bottom: 4px !important;
    background-color: white !important;
    -webkit-transition: .4s !important;
    transition: .4s !important;
}
tr.odd {
     background-color:white !important;
}
input:checked + .slider {
    background-color: #2196F3 !important;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3 !important;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px) !important;
    -ms-transform: translateX(16px) !important;
    transform: translateX(16px) !important;
}

/* Rounded sliders */
.slider.round {
    border-radius: 24px !important;
}

.slider.round:before {
    border-radius: 50% !important;
}

textarea {


    padding: 5px !important;
    resize: both !important;
    overflow: auto !important;
}
